@import "reset";
@import "general";
@import "Top-tour";
@import "popular";
@import "gem";
@import "diamond";
@import "footer";
@import "responsive";
.container h1 {
  margin-right: -10px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* button */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  text-decoration: none;
  color: white;
  border-radius: 100rem;
  cursor: pointer;
  font-weight: 500;
  width: fit-content;
  /* margin-inline --> tuong ung voi margin left va right */
  /* margin-block tuong ung voi margin top va bottom */
  margin: 70px auto;
}