extend ./views/layout/layout-tour.pug
block vars
    - var title = "Home Page";
append head 
    link(rel="stylesheet" href="./style/main.css")    
block main
    main   
        include ./views/home/TopTour
        include ./views/home/Populars
        include ./views/home/Gem
        include ./views/home/Diamond