* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: white;
  font-size: 14px;
  line-height: 1;
}
input,
button,
textarea,
select {
  outline: none;
  font: inherit;
  background-color: transparent;
  border: none;
}